body {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #1A1C1D;
      color: white;
    }
    #main {
        color: white; /* To be removed once placeholder text is removed from the Index page.*/
    }
}

.btn {
    border-radius: 1.5rem;
}

.footer {
    background-color: #2d2d2d;
    box-shadow: 0 0 30pt 2pt #121212;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navbar {
    font-weight: 650;
}

.brand-image {
    margin-right: 0.1em;
}

.navbar-brand {
    margin-left: 0.5rem;
}
