body {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    scrollbar-width: none;
}

.btn {
    border-radius: 1.5rem;
}

.footer {
    background-color: #2d2d2d;
    box-shadow: 0 0 30pt 2pt #121212;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navbar {
    font-weight: 650;
    background-color: white;
}

.brand-image {
    margin-right: 0.1em;
}

.login-card {
    background-color: #2d2d2d;
    color: white;
    margin: 2em 2em 2em 2em;
    border-radius: 2rem;
    border-width: 4px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.login-card input {
    margin: 0.5em 1em 0.5em 1em;
}

#submit-btn {
    width: 6em;
    margin-bottom: 0em;
}