/* App.css */
.App {
  display: flex;
  justify-content: flex-start; /* Adjust to flex-start to align children to the left */
  height: 100vh;
  background-color: #36393f;
  
}

.sidebar {
  width: 240px; /* Width of the sidebar */
  background-color: #2f3136; /* Discord sidebar background color */
  color: #ffffff; /* Text color */
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Scrollable if content exceeds viewport height */
}

/* Styles specific to the Channel Members component */
.channel-members-heading {
  font-size: 16px; /* Adjust font size for Channel Members heading */
  color: #ffffff;
  margin-bottom: 20px; /* More space between heading and the lists */
}

/* Additional styles for list titles within ChannelMembers component */
.user-list-title {
  font-size: 14px; /* Smaller font size for titles like 'Admins' and 'Members' */
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Style adjustments for user items in the list */
.user {
  display: flex;
  align-items: center;
  margin-bottom: 8px; /* Slightly reduce space between user items */
}

.profile-pic {
  width: 32px; /* Slightly reduce the size of profile pictures */
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  flex-grow: 1;
  color: #ffffff;
  font-size: 14px; /* Adjust font size for user names */
}

.status {
  width: 8px; /* Adjust size of status indicator */
  height: 8px;
  border-radius: 50%;
  margin-left: 10px;
}

.status.online {
  background-color: #43b581; /* Adjust color to match Discord's online status */
}

.status.offline {
  background-color: #e22727; /* Adjust color to match Discord's offline status */
}
