.chatheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    padding: 10px;
}

.chatheaderhash{
    color: gray;
    font-size: 30px;
    padding: 10px;
}
.chatheaderleft{
    display: flex;
    align-items: center;
    color: white;
}
.chatheaderright{
    display: flex;
    align-items: center;
    flex:0.5;
    justify-content: space-between;
    img{
        padding: 5px;
        cursor: pointer;
    }
    
}

.chatheadersearch{
    display: flex;
    align-items: center;
    color: grey;
    background-color: #2f3135;
    border-radius: 3px;
    padding: 3px;
}
.chatheadersearch > input{
    background: transparent;
    outline-width: 0;
    color:white;
    border:none;
}