.message{
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;

}
.messageinfo{
    margin-left: 20px;
}
.timestamp{
    margin-left: 20px;
    color:gray;
    font-size: x-small;
}