@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    scrollbar-width: none;
}

.btn {
    border-radius: 1.3rem;
}

.footer {
    background-color: #2d2d2d;
    box-shadow: 0 0 30pt 2pt #121212;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navbar {
    font-weight: 650;
}

.brand-image {
    margin-right: 0.1em;
}

.navbar-brand {
    margin-left: 0.5rem;
}

.register-card {
    background-color: #2d2d2d;
    color: white;
    margin: 2em 2em 2em 2em;
    border-radius: 2rem;
    border-width: 4px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.register-card input {
    margin: 0.5em 1em 0.5em 0.5em;
}

label {
    width: 5em;
    text-align: right;
}

#email, #passw, #username {
    width: 55%;
}

.card-body > .btn {
    margin-bottom: 0em;
    margin-right: 0em;
}

.modal-content {
    border-radius: 1.3rem;
}
